

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/trajan-pro');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  cursor: url('../images/Assassin\'s\ Creed\ II\ Cursor-32x32_page_01.png'), auto; /* Remplacez le chemin par celui de votre image PNG */
}

h1 {
  font-family: 'Trajan Pro', sans-serif !important;
}

h3 {
  font-weight: 400;
}

/* Vidéo de fond */
#myVideo {
  position: fixed; /* Fixe la vidéo à l'écran */
  top: 0;
  left: 0;
  width: 100%; /* La vidéo occupe toute la largeur de l'écran */
  height: 100%; /* La vidéo occupe toute la hauteur de l'écran */
  object-fit: cover; /* Assure que la vidéo couvre tout l'écran */
  z-index: -1; /* Met la vidéo en arrière-plan */
}

/* Conteneur principal */
.container {
  min-height: 320px;
  height: 99.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 1px blue; */
}

a {
  text-decoration: none;
  color: initial;
  cursor: url('../images/Assassin\'s\ Creed\ II\ Cursor-32x32_page_01.png'), auto; /* Remplacez le chemin par celui de votre image PNG */

}

a:visited {
  color: initial;
}

h2 {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.2rem 0.5em;
  /* display: inline-block; */
  background-color: #53216A;
  color: #DDD;
  text-transform: uppercase;
  height: 2.3rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.animated-h2 {
  animation: slideInRight 1s ease-in-out;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* *****************************header***************** */
/* **************glitch titre************* */
#container {
  width: 500px;
  position: relative;
  display: flex;
  align-items: center;
  height: 30vh;
  /* border: solid orange 1px; */

}

h1 {
  text-align: center;
  color: black;
  font-size: 5em;
  letter-spacing: 8px;
  font-weight: 400;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
  line-height: 1.2;
  animation: glitch1 9s infinite;
}

h1:nth-child(2) {
  color: turquoise;
  animation: glitch2 9s infinite;
  animation-delay: 0.2s;
}

h1:nth-child(3) {
  color: red;
  animation: glitch3 9s infinite;
  animation-delay: 0.2s;
}

/* Keyframes */
@keyframes glitch1 {
  0%, 2%, 8%, 100% {
    transform: translateX(-50%) none;
    opacity: 1;
  }
  2.1%, 3%, 3.1%, 5%, 5.1%, 7.9% {
    transform: translateX(-50%) skew(0.5deg, 0.9deg);
    opacity: 0.75;
  }
}

@keyframes glitch2 {
  0%, 2%, 8%, 100% {
    transform: translate(-50%, 0) none;
    opacity: 0.25;
  }
  2.1%, 3%, 3.1%, 5%, 5.1%, 7.9% {
    transform: translate(-52%, -3px);
    opacity: 0.5;
  }
}

@keyframes glitch3 {
  0%, 2%, 8%, 100% {
    transform: translate(-50%, 0) none;
    opacity: 0.25;
  }
  2.1%, 3%, 3.1%, 5%, 5.1%, 7.9% {
    transform: translate(-48%, 3px);
    opacity: 0.5;
  }
}

/* **************glitch titre fin************* */
/* ******************pomme d'eden********** */
.pomme_eden {
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  height: 40rem;
  /* top: 0; */
}

.boite {
  position: relative;
  width: 200px; /* Ajustez la largeur selon besoin */
  height: 200px; /* Ajustez la hauteur selon besoin */
  /* border: solid 1px; */
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 15%;
}

.image {
  width: 5rem;
  height: 5rem;
  display: block;
  /* border: solid 1px; */
  animation: pulse 1.5s infinite; /* Ajouter l'animation de pulsation */
  box-shadow: 0 7px 6px #EDD799;
  border-radius: 100%;
  margin-bottom: 0.7rem;
  
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: black;
  text-align: center;
  display:contents ;
  /* padding-top: 20px; */
  text-shadow:0 7px 6px rgba(224, 224, 224, 0.614);
  
}

@keyframes pulse {
  0% {
    transform:  scale(1);
  }
  50% {
    transform:  scale(1.1);
  }
  100% {
    transform:  scale(1);
  }
}

/* ******************pomme d'eden fin********** */

/* *************perso à droite**************** */
#stand {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-left: 8rem;
}

#stand img {
  width: 96%;
}
/* *************perso à droite fin**************** */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* **************.container déplacé en haut pour les superpositions de la vidéo************** */

/* *****************************menu**************** */
.title {
  font-size: 150%;
  padding: 0.2rem 0.5em;
  display: inline-block;
  background-color: #53216A;
  color: #DDD;
  text-transform: uppercase;
  height: 2.3rem;
  margin-bottom: 0.8rem;
}

#menu {
  width: fit-content;
  text-transform: uppercase;
  height: fit-content;
  margin-right: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#menu .items {
  list-style: none;
  padding: 0;
  width: 11em;
}

.item {
  height: 2rem;
}

#menu .items .item {
  padding: 0.2em 0.5em;
  margin: 0.5em 0;
  background-color: rgba(224, 224, 224, 0.614);
  color: black;
  position: relative;
  transition: all 0.4s;
  width: inherit;
}

#menu .items .item:hover {
  border-left: 0.25em solid #53216A;
  background-color: rgba(255, 255, 255, 0.66666);
  color: #000;
  width: 125%;
  font-size: 125%;
  right: 7.5%;
  margin: 0;
  height: 2.5rem;
}

#content {
  float: left;
  width: 75%;
  padding: 2em;
}

#content .description {
  background-color: rgba(255, 255, 255, 0.66666);
  margin: 0.5em 0;
  padding: 0.5em;
}
/* ***********************menu fin***************** */
/* ***************header fin****************** */

/* **********************main****************** */
/* ********************scénario**************** */
#lore{
  display: flex;
  align-items: center;
}

#lore img{
  width: 35rem;
  margin: 2rem 20%; /*bug ?*/
}

/* *****************description*********** */
.main_menu{
  margin-right: 3rem;
  font-size: 20px;
}

.description, .info_languages {
  background-color: rgba(255, 255, 255, 0.66666);
  padding: 1em;
}

/* *****************description fin************* */
/* ********************scénario fin**************** */

/* ******************aptitudes************ */
#skills{
  padding: 4rem 0;
  display: flex;
  justify-content: center;
}

.display_h2{
  display: flex;
  justify-content: center;
}

.info_languages{
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 2rem;
  width: fit-content;
  padding: 2rem;
}

.info_languages img{
  width: 7rem;
  text-align: center;
  /* border: solid 1px; */
}
/* *************************aptitudes fin************ */

/* ******************projet helix************** */
.parent {
  /* background-color: rgba(255, 255, 255, 0.66666) !important; */
  display: flex;
  margin: 3rem;
  justify-content: space-around;
  /* margin: 0.5em 0; */
  /* padding: 1em; */
  }

  .parent div{
    width: 25rem;
    height: 14rem;
  }


  .div1 { 
    
    /* border: solid 1px; */
    background:no-repeat center/100% url(../images/Rectangle\ 23.png);
    /* height: 13rem; */
    background-size: cover;
  }

  .div2 { 
    
    /* border: solid 1px; */
    background:no-repeat center/100% url(../images/Rectangle\ 24.png); 
    background-size: cover;
  }

  .div3 { 
    
    /* border: solid 1px; */
    background:no-repeat center/100% url(../images/Rectangle\ 25.png);
    background-size: cover;

  }

  .div1, .div2, .div3 {
    position: relative;
    transition: transform 0.5s, filter 0.3s;
    box-shadow: 0 7px 6px rgba(255, 255, 255, 0.66666);
    overflow: hidden; /* Empêche le débordement lors de l'agrandissement */
}

.div1:hover, .div2:hover, .div3:hover {
    transform: scale(1.1); /* Agrandissement */
}

.div1::before, .div2::before, .div3::before {
    content: ""; /* Nécessaire pour afficher le pseudo-élément */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Couvre toute la largeur de l'élément */
    height: 100%; /* Couvre toute la hauteur de l'élément */
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.36), rgba(6, 6, 6, 0.823));
    opacity: 0; /* Invisible par défaut */
    transition: opacity 0.5s ease-in-out; /* Transition fluide */
    z-index: 1; /* Superpose la couche de gradient */
}

.div1:hover::before, .div2:hover::before, .div3:hover::before {
    opacity: 1; /* Rendre visible la couche de gradient au survol */
}

  
  h3 {
    position: relative;
    z-index: 2; /* Ajoutez cette règle */
    color: #DDD;
    background-color: #53216A;
    height: 2rem;
    width: 14rem;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 10px;
    margin-top: 15%;
  }

  /* ************logo abstergo************** */
  #abstergo{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
  }

  #abstergo img{
    width: 3rem;
    margin-right: 1.5rem;
  }
  /* ************logo abstergo fin************** */

  /* ************CV************** */
  #cv h2{
    margin-top: 4rem;
  }

.cv{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  padding-bottom: 4rem;
}

#dwld{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-btn{
  background-color: #53216A;
  color: #DDD;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s;

}

.download-btn:hover{
  transform: scale(1.1);
  transition: transform 0.3s;
}






  /* ************bouton retourner en haut************** */
  #scroll_to_top {
    position: fixed;
    width: 40px; /* Augmente la taille du bouton pour une meilleure visibilité */
    height: 40px; /* Augmente la taille du bouton pour une meilleure visibilité */
    bottom: 20px; /* Positionne le bouton plus près du bas de l'écran */
    right: 30px; 
    font-weight: bold;
    color: #FF0000;
    font-size: 20px; /* Réduit légèrement la taille de la police pour plus de cohérence avec la taille du bouton */
    text-shadow: 2px 1px 3px #800000;
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.66666); /* Ajuste l'ombre portée pour une meilleure visibilité */
    padding: 10px; /* Ajuste l'espacement interne pour correspondre à la taille du bouton */
    border-radius: 50%; /* Rend le bouton complètement circulaire */
    border: 4px solid #800000;
    background: linear-gradient(to top, #FF0000, #800000);
    /* transition: background 0.3s ease, color 0.3s ease; Ajoute une transition fluide */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  #scroll_to_top:hover {
    color: #FF0000;
    background: linear-gradient(to top, #800000, #FF0000);
  }
  

  /* ************footer************** */
  footer{
    border-top: #DDD solid 2px;
  }

  footer p{
    padding: 3rem;
    text-align: center;
  }
