*{margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;}

ul, ol{list-style: none;}

a{text-decoration: none;
    transition: all 0.2s ease-out;
    
}

li{color: initial;}

header a:visited{color: white;}

a:visited{
    color: initial;
}

/* entête */
#entête{
    /* border: solid red 4px; */
    display: flex;
    justify-content: flex-end;
    padding: 0px 32px;}
    
    #liste_entête{
        /* border: solid green 4px; */
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    max-width: 1366px;
    color: #666666;
    font-size: 14px;}
    
    .liste{ 
        /* border: solid blue 2px; */
        padding: 0px 19px;
        border-right: solid #D1D1D1 1px;
        line-height:  30px;}
    
    span{border-left: solid #D1D1D1 1px;}
    
    #drapeau{height: 15px;
    width: 15px;
    border: solid#D1D1D1 1px;
    border-radius: 50px;
    vertical-align: middle;}
    /* entête */
    
    /* barre foncé */
    header{color: white;}

    #barre{background-color: #2D2D2D;
        color: white;
    /* border: solid orange 4px; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 60px;
        width: 100%;}
    
    #liste_barre{
        /* border: solid blue 4px; */
        display: flex;
        flex-wrap:wrap;
    align-items:center;
        justify-content: space-evenly;
    width: 100%;
    margin: 0px 32px 0px 32px;}
    
    #container{
        border: solid green 4px;
        display: flex;
        align-items: center;
        justify-content: space-around;}
    
    .bouton_barre:hover, a:focus {background-color: #525050;
        color:white;}
    
    .bouton_barre{
        padding: 18px;
        font-weight: bold;}
    
/* liste déroulante */
#barre ul li ol{ 
    display:none;}

#barre li:hover ol {
    display:list-item !important;
    position:absolute;
    background-color: #525050;
    border: #2D2D2D solid 1px;}

ol a li {color: #ffffff;}
    
ol li:hover, a:focus{
    background-color: #666666;
    color: white;
}
/* liste déroulante fin */
    
    
    .icon_barre{
        /* border: solid red 4px; */
        height: 20px;
        width: 20px;
        display: flex;}
    
    /* barre de recherche */
    #recherche{display: flex;
        flex-direction: row;
        align-items: center;}
        
    #search{border-radius: 50px;
        border: 0px;
        height: 38px;
        color: dimgray;
        padding-left: 40px;
        font-size: 15px;}
        
    button #btn{
        border: solid transparent;
        background-color: white;
        border-radius:18px;
        width: 60px;
        height: 38px;
        font-size: 25px;
        cursor: pointer;
        margin-right: 400px;}
    /* barre de recherche fin */
    
    #logo_asos{width: 60px;}
    /* barre foncé fin */


/* barre gris clair */
nav{list-style: none;}

nav ul li:hover {
    float:none;
    color: white;
}

#navigation{
/* border: solid fuchsia 4px; */
background-color: #525050;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
height: 50px;
width: 100%;
font-size: 14px;
color: #ffffff;}

.liste_navigation:hover, a:focus {
    background-color: white;
    color:#525050;}

.liste_navigation {
    /* border: solid turquoise 4px; */
    padding: 18px;
    transition: all 0.1s ease-out;
    color: white;}
/* barre gris clair fin */

/* body */
section{
    /* border: solid blue 4px; */
    padding: 100px 10px;
height: 1050px;
}

.partiehaut{
    /* border: solid yellow 4px; */
    padding: 20px;
}

#historique{
    font-size: smaller;
    color: #666666;}
    
    #historique a:hover, #historique a:focus{
        text-decoration: underline ;
    }

    #historique:visited{color: initial;}
    

figcaption{color: #2D2D2D;}

figcaption:visited{color: inherit;}
/* body fin */

/* footer */
footer{
    background-color: #2D2D2D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-top: 50px;
    }
 /*footer fin */ 